html
    head
        title My homepage
        h1 Welcome to my home page!
        link(rel='stylesheet', href='/style.css')

    body 
        h3 Click on the link to see all items, the bulk page and add more items 

        div#left
            a(href="/items") See all items
            br
            br
            a(href="/bulk") See bulk page
            br
            br
            a(href="/additem") Add more items 

